
.container{
	width: 300px;
	background-color: black;
	margin: 0 auto;
	min-height: 500px;

}

.lolem{
	width: 30px;
	height: 200px;
	background-color: black;
	margin: 0 auto;
}
.circle{
	width: 150px;
	height: 150px;
	background-color: #ccc;
	border-radius: 50%;
	margin: 10px auto;
}
.red{
	background-color: red;
}
.orange{
	background-color: orange;
}
.green{
	background-color: green;
}
.off{
	background-color: #ccc;
}